<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:mine_logs, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:mine_logs, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :mine_log, url(:mine_logs, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'mine_logs/form', :locals => { :f => f } %>
 <% end %>
</div>
