 <style>
 	.number{font-size: 30px; font-weight: bold; color: #5cb85c;}
 </style>

   <div class="container">
   
   <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li class="active">关于驾享链</li>
  </ol>
  
   <div class="page-header">
    <h3>常见问题 </h3>
  </div>

  	<div class="panel panel-default">
      <div class="panel-body">
      	 <h4>1、什么是DDD?</h4>

      	 多多豆英文名是DDD，是驾享链平台基于用户的学车行为数据及购车意向数据产生的激励，目前可用于赛事竞猜及商品兑换。系统每20分钟会打包一个区块，每个区块会产生一定量的DDD发放给该时段内参与挖矿的用户，产出量每两年减少一半。<br>
      	 驾享链平台致力于通过区块链技术，帮助驾校资产实现可流通，并提高驾校的数据价值。在区块链技术保护下建立去中心化、高信任度的共享平台，推动驾培行业的整体价值提升，让每一个参与方都能受益。
       	<br><br>

       	<h4>2、什么是原力</h4>
       	原力是多多豆(DDD)的获取能力，同一时间段内，原力越高，每次挖矿分得的多多豆(DDD)就越多。<br>
   每个用户的初始原力是50，通过其他行为可以提升原力

   		<br><br>
   		<h4>3、驾享链的DDD总量是多少？</h4>
   		21亿个。

   		<br><br>
   		<h4>4、DDD的分配比例？</h4>
   		51% 分配给用户挖矿<br>
   		16% 分配给私募投资人<br>
   		15% 分配给核心团队<br>
   		13% 分配给生态系统<br>
   		5%  分配给基金会
      </div>
    </div>

    </div>





  </div>

   </div>